html, body {
    margin: 0;
    padding: 0;
}


.main-header {
  
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  color: white;
  background: #444;
  transform: translateY(0);
  transform: translate3d(0,0,0);
  transition: .25s transform;
  backface-visibility: hidden;
    text-decoration: none;
}


.heads-up {
  transform: translateY(-6rem);
  transform: translate3d(0,-6rem,0);
}

.main-header h1 {
  float: left;
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}


.heading
{
    float: left;
    font-size: 2rem;
    margin: 1.8rem 0 0 2rem;
    text-transform: capitalize;
    width: 60%;
    font-weight: bold;
}


.playlist ul {
    list-style-type: none;
}

.playlist ul a {
    cursor: pointer;
    color: #428bca;
    text-decoration: none;
}

.playlist ul a:visited {
    color: #428bca;
}

.playlist ul a:hover {
    color: #428bca;
    text-decoration: underline;
}

.videogular-container  {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}
.video-description {
    width: 100%;
    height: 4rem;
    margin: auto;
    overflow: hidden;
    background: grey;
    color: white ; 
}

.playlist{
    width: 100%;
    height: 13rem;
    margin: auto;
    overflow: hidden;
    background: silver;
    color: white ;
}

.error {
    text-align: center;
    color :red;
    font-weight: bold;
}
.error a{
    color : blue;

}
.file-upload {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.file-upload a, a:visited {

    text-decoration: none;
}

.file-upload__label {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    height: 1.7rem;
    display: block;
    margin: 2rem 2rem;
    line-height: 1.7rem;
    color: #fff;
    background: rgba(23, 136, 241, 0.65);
    border-radius: .4em;
    transition: background .3s;
}

&:hover {
     cursor: pointer;
     background: #000;
 }
}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}
.videogular-container .skipButton {
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    z-index: 99999;
    color: white;
    cursor: pointer;
    background-color: #666666;
    border: 2px #FFFFFF solid;
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
.desc-heading{
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.desc-subheading{
    margin: 5px 10px;
    font-size: 1em;
    
}
.desc-content{
    float: left;
    width: 25%;
}
#veil {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor: not-allowed;
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: #000000  no-repeat center;
}
#feedLoading {
    position: absolute;
    top:200px;
    width:100%;
    text-align: center;
    font-size: 4em;
    color:white;
    text-shadow: 2px 2px 2px #021124;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }
    .video-description {
         width: 1170px;
    }
    .playlist {
        width: 1170px;
        height: 10rem;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }
  .video-description {
        width: 940px;
    }
    .playlist {
        width: 940px;
        height: 13rem;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container   {
        width: 728px;
        height: 409.5px;
    }
    .playlist {
        width: 728px;
        height: 13rem;
    }
    .video-description {
           width: 728px;
    }
    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}